[project]
	description = probably going to be a pretty cool game.
[access "refs/*"]
	owner = group user/Jan-Henrik (bigteddy97)
[access "refs/for/refs/*"]
	read = group user/Jan-Henrik (bigteddy97)
	push = group user/Jan-Henrik (bigteddy97)
	label-Code-Review = -2..+2 group user/Jan-Henrik (bigteddy97)
	label-Verified = -1..+1 group user/Jan-Henrik (bigteddy97)
	rebase = group user/Jan-Henrik (bigteddy97)
	removeReviewer = group user/Jan-Henrik (bigteddy97)
	submit = group user/Jan-Henrik (bigteddy97)
[access "refs/heads/*"]
	read = group user/Jan-Henrik (bigteddy97)
	create = group user/Jan-Henrik (bigteddy97)
	push = +force group user/Jan-Henrik (bigteddy97)
	pushMerge = group user/Jan-Henrik (bigteddy97)
[access "refs/tags/*"]
	push = +force group user/Jan-Henrik (bigteddy97)
	pushTag = group user/Jan-Henrik (bigteddy97)
	pushSignedTag = group user/Jan-Henrik (bigteddy97)
